*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    background: #E02D33;
}

.container h1{
    font-weight: 900;
    color: white;
    margin-bottom: 8px;
}
.container p{
    color:white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}
.container input{
    height: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid #d1d1d1;
    margin: 10px 0 20px;
    border-radius: 5px;
}
.container button{
    height: 50px;
    width: 100%;
    background-color: white;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#imgBox img{
    width: 100%;
    padding: 10px;
    margin-top: 10px;

}
